@import url(reset.css);

#bg{
     position:fixed;
     z-index: -1;
     top:0;
     left:0; 
     min-width:100%;
     min-height:100%;
}

header{
    height: 185px;
    margin-bottom: 30px;
}

#header_bg{
    height: 130px;
    background: url(../images/header_bg.jpg)repeat-x;
	min-width:1320px;
}

.menu_bg{
     background: url(../images/menu_bg.png)repeat-x;
     min-width:1320px;
}

nav{
    height: 63px;
    max-width:1200px;
    min-width:980px;
    position:relative;
    margin: 0 auto;
}

nav ul{
    float: right;
    margin-right: 100px;
}
nav ul li{
     float: left;
     margin-top: 1px;
}
nav ul li a{
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    padding:18px 15px;
    color: white;
    display:block;
    transition: 0.5s; 
}

nav ul li a:hover{
    background: #ff6666;
    transition: 0.5s; 
    margin-left: 7px;
}


.menu__list{ 
position: relative; 
} 

.menu__drop li a{
    width: 160px;
    border-bottom:1px solid #666;
}

.menu__drop li a:hover{
    margin-left:0;
}
.menu__drop{ 
position: absolute; 
opacity:0; 
z-index: 2; 
margin-top: 4px;
top:-9999em; 
transition: 0.5s opacity; 
background: #333;
} 
.menu__list:hover .menu__drop{ 
opacity: 1; 
top: 49px; 
} 
/*Конец всплывающего меню*/ 

/*иконки для всплывающих менюшек*/ 
.menu__list::after{ 
content:" "; 
position: absolute; 
border: 5px solid; 
border-color: transparent transparent #ff6666 transparent; 
bottom: 2.1px; 
right: 2.7em; 
transition: 0.5s; 
} 

.menu__list:hover::after{ 
transform: scaleY(-1); 
} 

#logo{
    position: fixed;
    margin-left: 50px;
    position: absolute;
    margin-top: -17px;
}



#wrapper{
    margin: 0 auto;
    width: 1300px;
    height: auto;
}

.main_table_magazin table{
    border-collapse: collapse;
    border: 2px solid #ff6666;
    margin: 20px auto;
    width: 1000px;
}

.main_table_magazin table tr td,tr th{
    padding: 10px;
    border: 2px solid #ff6666;
}

.main_table_magazin table tr td input[type=text]{
    border: 1px solid #ff6666;
    border-radius: 5px;
    height: 25px;
    width: 180px;
}

section{
    background: #fff;
    width: 1300px;
    height: auto;
    padding-bottom:10px;
    border-top:4px solid #FF6666;
}

article{
    height: 480px;
    padding-top: 38px;
    padding-left: 18px;
}

section article figure p{
    font: 14px sans-serif; 
    color: rgb(175, 174, 174); 
    text-align: center;
}

section article figure p span{
    font: 12px sans-serif; 
    color: rgb(175, 174, 174); 
    text-align: center;
}

section article figure a{
    font: 12px sans-serif; 
    text-align: center;
    color: red;
    text-decoration: none;
}

section article figure a:hover{
    text-decoration: underline;
}

section article figure h2{
    text-align: center;
}

section article figure h2 a{
    font: 20px sans-serif; 
    color: black;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: none;
}

section article figure h2 a:hover{
    color: red;
    text-decoration: none;
}


footer{
    min-width: 1320px;
    background:  #282828;
    height: auto;
    overflow: hidden;
}

footer .footer_content{
    width: 1200px;
    margin:0 auto;
    margin-top: 28px;

}

footer .footer_box{
    width: 250px;
    float: left;
    margin-left:60px;
    margin-bottom: 40px;
    color:#fff;
}

footer .footer_box h2{
    text-transform: uppercase;
    margin-bottom: 17px;
    font-weight: bold;
}


footer .footer_box ul li{
    margin-top: 18px;
}

footer .footer_box ul li a{
     color:#fff;
     text-decoration: none;
     padding:10px 10px;
     width: 350px;
     transition: 0.5s all;
}

footer .footer_box ul li a:hover{
    background: #E70C2F;
    padding: 10px 20px 10px 20px;
}

footer .footer_box ul li a::before{
    content: "\203A";
    margin-right: 15px;
}



footer .footer_box:first-child{
    width: 210px;
    line-height: 1.1em;
}

footer .footer_box_ongoing{
    width: 250px;
    float: left;
    margin-left:60px;
    margin-bottom: 40px;
    color:#fff;
}

footer .footer_box_ongoing h2{
    text-transform: uppercase;
    margin-bottom: 17px;
    font-weight: bold;
}


footer .footer_box_ongoing ul li{
    margin-top: 18px;
}

footer .footer_box_ongoing ul li a{
     color:#fff;
     text-decoration: none;
     padding:10px 10px;
     width: 350px;
     transition: 0.5s all;
}

footer .footer_box_ongoing ul li a:hover{
    background: #E70C2F;
    padding: 10px 20px 10px 20px;
}

footer .footer_box_ongoing ul li a::before{
    content: "\203A";
    margin-right: 15px;
}



footer .footer_box:first-child{
    width: 210px;
    line-height: 1.1em;
}

a {
  color: #00a1d2;
  text-decoration: none;
}

